Задание 1

In [ ]:
import pandas as pd

In [2]:
def rating(rank):
        if rank <=2.0:
            return ('низкий рейтинг')
        elif (rank<=4.0 and rank >2):
            return ('средний рейтинг')
        elif (rank == 4.5 or rank == 5.0):
            return ('высокий рейтинг')

In [3]:
ratings = pd.read_csv('ratings.csv')

In [4]:
ratings['class'] = ratings['rating'].apply(rating)
ratings.head(20)

    userId  movieId  rating   timestamp            class
0        1      307     3.5  1256677221  средний рейтинг
1        1      481     3.5  1256677456  средний рейтинг
2        1     1091     1.5  1256677471   низкий рейтинг
3        1     1257     4.5  1256677460  высокий рейтинг
4        1     1449     4.5  1256677264  высокий рейтинг
5        1     1590     2.5  1256677236  средний рейтинг
6        1     1591     1.5  1256677475   низкий рейтинг
7        1     2134     4.5  1256677464  высокий рейтинг
8        1     2478     4.0  1256677239  средний рейтинг
9        1     2840     3.0  1256677500  средний рейтинг
10       1     2986     2.5  1256677496  средний рейтинг
11       1     3020     4.0  1256677260  средний рейтинг
12       1     3424     4.5  1256677444  высокий рейтинг
13       1     3698     3.5  1256677243  средний рейтинг
14       1     3826     2.0  1256677210   низкий рейтинг
15       1     3893     3.5  1256677486  средний рейтинг
16       2      170     3.5  1192913581  средний рейтинг
17       2      849     3.5  1192913537  средний рейтинг
18       2     1186     3.5  1192913611  средний рейтинг
19       2     1235     3.0  1192913585  средний рейтинг

Задание 2

In [17]:
key = pd.read_csv('keywords.csv')
key.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [18]:
geo_base = {
     'Центр': ['москва', 'тула', 'ярославль'],
     'Северо-Запад': ['петербург', 'псков', 'мурманск'],
     'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'],
    }

In [19]:
d = {}
for region in geo_base:
        city_list = geo_base[region]
        d.update({key:value for key,value in zip(city_list, [region for i in city_list])})

In [24]:
keywords['region'] = keywords['region'].fillna('undefined')
keywords[(keywords['region']== 'Северо-Запад')].head()

         keyword  shows        region
8977    мурманск  29984  Северо-Запад
11222      псков  24885  Северо-Запад
20823  петербург  14859  Северо-Запад

In [25]:
keywords.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined